h2 {
  font-size: xx-large;
  font-stretch: 150%;
  margin: 4px;

}

.navbar {
  width: 100vw;
  background-color: black;
  box-sizing: border-box;
  padding: 4px;
  color: #ffffff;
   font-weight: bold;
}
